In [5]:
1:
for i in range(1,5):
    a='ineuron '
    print(a*i)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [1]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

3.extract all list entities

In [25]:
for items in l:
    if type(items)==list:
        for j in items:
            print(j)

1
2
3
4
ineuron
data science

4.try to extract all dict entities

In [23]:
for items in l:
    if type(items)==dict:
        for key,values in items.items():
            print(key,":",values)

k1 : sudh
k2 : ineuron
k3 : kumar
3 : 6
7 : 8

5.try to extract all tuples entities

In [26]:
for elements in l:
    if type(elements)==tuple:
        for i in elements:
            print(i)

2
3
4
5
6
3
4
5
6
7

6.try to extract all numerical values that may be part of dict key and values

In [27]:
for element in l:
    if type(element)==dict:
        for k,v in element.items():
            if type(k)==int and type(v)==int:
                print(k,":",v)

3 : 6
7 : 8

7.try to give summation of all numeric data

In [37]:

sum=0
for element in l:
    for i in element:
        if type(i)==int:
            sum=sum+i
    if  type(element)==dict:
        for k,v in element.items():
            if type(v)==int:
                sum=sum+v
print(sum)

156

8.try to filter out all the odd values from numeric values that belong to a list

In [7]:
for element in l:
    if type(element)==list:
        for item in element:
            if type(item)==int and item % 2 != 0:
                print(item)

1
3

9.try to extract ineuron out of this data

In [10]:
for element in l:
    if type(element)==dict:
        for k,v in element.items():
            if v=='ineuron':
                print("The dict one is-",v)
    elif type(element)==list:
        for i in element:
            if i=='ineuron':
                print("the list one is-",i)

The dict one is- ineuron
the list one is- ineuron

In [11]:
c=[]
for element in l:
    for i in element:
        c.append(i)
print(c)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'data science']

In [20]:
# Count occurrences of each element
occurrences = Counter(c)

# Print the occurrences
for item, count in occurrences.items():
    print(f"{item} appears {count} times")

1 appears 1 times
2 appears 2 times
3 appears 4 times
4 appears 4 times
5 appears 3 times
6 appears 2 times
7 appears 2 times
45 appears 1 times
23 appears 1 times
k1 appears 1 times
k2 appears 1 times
k3 appears 1 times
ineuron appears 1 times
data science appears 1 times

11.try to find out number of keys in dict element

In [25]:
count_ofkeys=[]
for element in l:
    if type(element)==dict:
        for key in element.items():
            count_ofkeys.append(key)
print(len(count_ofkeys))

5

12.try to filter out all string data

In [40]:
for element in l:
    if type(element)==list:
        for i in element:
            if type(i)==str:
                print(i)
    elif type(element)==dict:
        for key,value in element.items():
            if type(key)!=int and type(value)!=int:
                print(key)
                print(value)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

13.try to find out all alphanum in data

In [47]:
p=[]
for i in l:
    if type(i)==str and i.isalnum():
        p.append(i)
if len(p)==0:
    print('there are no alphanumeric data')

there are no alphanumeric data

14.try to find multiplication of all numeric value in the individual collection in the dataset

In [12]:
mul=1
mul1=1
mul2=1
mul3=1
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                mul=mul*j
    if type(i)==tuple:
         for j in i:
            mul1=mul1*j
    if type(i)==set:
        for j in i:
            mul2=mul2*j
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int and type(v)==int:
                mul3=mul3*k*v
    
print('The multiplication of all numeric value in the list inside the list is:',mul)        
print('The multiplication of all numeric value in the tuples inside the list is:',mul1)
print('The multiplication of all numeric value in the set inside the list is:',mul2)
print('The multiplication of all numeric value in the dictionary inside the list is:',mul3)

The multiplication of all numeric value in the list inside the list is: 24
The multiplication of all numeric value in the tuples inside the list is: 1814400
The multiplication of all numeric value in the set inside the list is: 20700
The multiplication of all numeric value in the dictionary inside the list is: 1008

15.try to unwrap all collection inside collection and create a flat list

In [15]:
c=[]
for element in l:
    for i in element:
        c.append(i)
print("The flattended list is:",c)

The flattended list is: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'data science']

In [18]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}, ['ineuron','data science']]

def unwrap_collections(lst):
    flat_list = []
    for item in lst:
        if isinstance(item, (list, tuple, set)):
            flat_list.extend(unwrap_collections(item))
        elif isinstance(item, dict):
            for key, value in item.items():
                flat_list.append(key)
                flat_list.append(value)
        else:
            flat_list.append(item)
    return flat_list

flat_list = unwrap_collections(l)
print(flat_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']